<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd" 
			default-autowire="byName">
	
	<context:annotation-config />
		
	   <!-- responsible for registering the necessary Spring components that power annotation-driven transaction management; 
        such as when @Transactional methods are invoked -->
	<tx:annotation-driven />
	
	<jpa:repositories base-package="org.joey.contacts.repositories" />
	
<!-- 	<jee:jndi-lookup jndi-name="java:/comp/env/jdbc/contactsdb"
		id="contactsdb" expected-type="javax.sql.DataSource">
	</jee:jndi-lookup> -->
	
	<bean id="contactsDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/jdbc/contactsdb"/>
		<property name="resourceRef" value="true"/>
	</bean>
	
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="contactsDataSource"/>
		<!-- JpaVendorAdapter implementation for Hibernate EntityManager.
           Exposes Hibernate's persistence provider and EntityManager extension interface -->
     	 <property name="packagesToScan" value="org.joey.contacts.entities" />
     	 <property name="jpaVendorAdapter">
        	 <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" >
				<property name="generateDdl" value="true"/>
				<property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
          </bean>
      </property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>
